/* I pledge my Honor that I have abided by the Stevens Honor System
-Shreyas Keerthi
11/7/2019
Spook-e-gram
*/
 body {
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
 }

 header {
    background-color: #49516f; 
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
 }


 
 
 header h1 {
    margin: 0;
    color: white;
 }
 header span{
    margin: 0;
    color: white;
 }

 
 .logo{
    padding: 5px;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
 }
 .posts{
    display: flex; 
    flex-wrap: wrap;
 }
 .post{
    flex-grow: inherit;
 }
 .post-body{
    height: 200px;
 }
 .post-container{
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;

 }
 .post-pic{
    height: 200px;
    width: 200px;
    margin-right: 10px;

 }
 
 @media screen and (min-width: 999px) {
    .posts {
      flex-direction: column;
      align-items:center;
    }
    .post {
        max-width: 800px;
        width:100%;
        flex-grow:inherit;
      }
  }

  @media screen and (max-width: 998px) and (min-width: 400px) {
    header {
        display: flex;
        justify-content: center;
    }
    .posts {
        flex-direction: row;
        flex-wrap:wrap;
    }
    .post-container {
        flex-direction: column;
    }
    .post {
        flex-grow:inherit;
        width:50%;
    }
    .post-pic {
        width:100%;
        height:auto;
    }
  }

  @media screen and (max-width: 399px) {
    header {
        flex-direction: column;
        align-content: center;
    }
    .logo {
        border-radius: 50%;
    }
    .posts {
        flex-basis: auto;
        flex-direction: column;

    }
    .post-container {
        flex-direction: column;

    }
    
    .post-pic {
        width:100%;
        height:auto;
    }
  }